<div>
    <h3>Humidité</h3>
    <button (click)="getHumidites()">Rafraichir</button><br>
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="humidites"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline"
      (select)="onSelect($event)">
    </ngx-charts-line-chart><br>
    </div>
